/*----------------user_friends css---------------------*/
.user_friends{display: inline-block;}
.user_friends{
  
  background-color: #CCC;
  width: 30%;
  height:500px;
  overflow-y: auto;
  font-size: 20px;
}
.user_friends li {
  list-style: none;
  margin-bottom: 10px;
  text-align: center;
}
.user_friends a:visited,.user_friends a:link{
  text-decoration: none;
  color:black;
}
.user_friends::-webkit-scrollbar {
  width: 0.7em;
  background: transparent;
}
.user_friends::-webkit-scrollbar-thumb {
  background: #CCC;
}
.user_friends>ul>li>img{
   width: 50px; 
   height: 50px;
   object-fit: cover;
   object-position: top;
   border-radius: 50%;
   margin:5px;
}
/*----------------user_friends css---------------------*/