<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.sns.myInfo.service.impl.MyInfoMapper">
	
	<select id="selectMyInfoUserInfo" parameterType="string" resultType="userVO">
		SELECT 	USER_NUMBER,
				USER_ID,
				USER_NAME,
				USER_GENDER,
				USER_BIRTH
		  FROM  USERS
		 WHERE  USER_ID = #{_parameter}		
	</select>
	
	<select id="selectUserDetailList" parameterType="int" resultType="camelMap">
		SELECT  UINFO_NAME,
		        UINFO_TYPE,
		        USER_NUMBER,
		        TYPE_NAME,
		        UINFO_NUM
		  FROM  USER_INFO ui
		  JOIN  USER_INFO_TYPE uit
		    ON  ui.UINFO_TYPE = uit.TYPE_NUM
		 WHERE  USER_NUMBER = #{_parameter} 
		   AND  USE_YN = 'Y'
		 ORDER  BY UINFO_NUM DESC		
	</select>
	
	<select id="selectMyInfoTypeList" resultType="camelMap">
		SELECT  TYPE_NUM,
				TYPE_NAME
		  FROM	USER_INFO_TYPE
	</select>	
	
	<insert id="insertMyinfoDetail" parameterType="map">
		<selectKey order="BEFORE" resultType="int" keyProperty="uinfoNumber">
			SELECT USER_INFO_SEQ.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO USER_INFO
		(
			UINFO_NUM,
			UINFO_NAME,
			UINFO_TYPE,
			USER_NUMBER
		)
		VALUES
		(
			#{uinfoNumber},
			#{uinfoName},
			#{uinfoType},
			#{userNumber}
		)
		
	</insert>
	
	<delete id="deleteMyinfoDetail" parameterType="map">
		UPDATE USER_INFO SET
		USE_YN = 'N'
		WHERE UINFO_NUM = #{uinfoNum}
	</delete>
	
	<update id="updateMyinfoDetail" parameterType="map">
		UPDATE USER_INFO SET
		UINFO_NAME = #{uinfoName}
		WHERE UINFO_NUM = #{uinfoNum}
	</update>
</mapper>