/*----------------user_profile css---------------------*/
  #header{
    position: absolute;
    top:100px;
    width: 100%;
    background-color: #FFF;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    height: 300px;
  }
  #user_profile_img{
    left: 200px;
    width: 180px;
    height: 180px;
    background-color: white;
    z-index: 5;
  }
  .user_profile{
    margin-left: 5px;
  }
/*----------------user_profile css---------------------*/
/*----------------input img css---------------------*/
.change_img{  
  width: 180px;
  height: 25px;
  border-radius: 5px;
  font-weight: bolder;
  border-color: transparent;
  background: #2866d8;
  color: #fff;
 cursor: pointer;

}
/*----------------input img css---------------------*/
/*----------------button css---------------------*/
.upload {  
  opacity: 0;      
  position: relative;
}
.replace {   
  position: absolute;
  width: 180px;
  height: 25px;
  border-radius: 5px;
  font-weight: bolder;
  border-color: transparent;
  background: #2866d8;
  color: #fff;
  cursor: pointer;
}
.replace:hover{
  background-color:#0248ca;
}
/*----------------button css---------------------*/
/* ---------------submit css-------------------- */
#user_profile_update_set{
  display: inline-block;
  position: absolute;
  left: 80%;

}
/* ---------------submit css-------------------- */
/* ---------------follow css-------------------- */
.follow{
  position: absolute;
  left: 440px;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  font-weight: bolder;
  border-color: transparent;
  background: #4195f4;
  color: #fff;
  cursor: pointer;
}
.follow:hover{
  background-color:#41acf4;
}
.unfollow{
  position: absolute;
  left: 440px;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  font-weight: bolder;
  border-color: transparent;
  background: #ef3e3e;
  color: #fff;
  cursor: pointer;
}
.unfollow:hover{
  background-color:#f95959;
}
.follower{
  position: absolute;
  left: 200px;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  font-weight: bolder;
  border-color: transparent;
  background: #4195f4;
  color: #fff;
  cursor: pointer;
}
.follower:hover{
   background-color:#41acf4;
}
.following{
  position: absolute;
  left: 320px;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  font-weight: bolder;
  border-color: transparent;
  background: #4195f4;
  color: #fff;
  cursor: pointer;
}
.following:hover{
  background-color:#41acf4;
}
/* ---------------follow css-------------------- */
/* ---------------modal css-------------------- */
.following_li,.follower_li{
  list-style: none;
}
.following_li>a:visited,.following_li>a:link,.following_li a:hover,
.follower_li>a:visited,.follower_li>a:link,.follower_li a:hover{
  text-decoration: none;
    color:#2866d8;
    font-size: 20px;
    font-weight: bolder;
}
.follower_li>a:hover,.following_li>a:hover{
  color:#4286f4;
  font-size:25px;
}
.user_following_img,.user_follower_img{
   width: 50px; 
   height: 50px;
   object-fit: cover;
   object-position: top;
   border-radius: 50%;
   margin:5px;
}

/* ---------------modal css-------------------- */