
/*----------------user_nav css---------------------*/
.user_nav{
  background-color: #fff;
  width: 70%;
  height:500px;
  float: left
}
.user_nav ul{
  margin:0;
} 
.menu{  
    height: 30px; 
    width: 100%;
    background-color: #2866d8;
    } 
  .menu li{ 
    width: 22%;
    list-style: none; 
    color: white;
    background-color: #2866d8;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    } 
  .menu .menulink{  
    text-decoration:none;
    color: white;
    display: block;
    font-size: 15px;
    font-weight: bold;
    } 
  .menu .menulink:hover{
      color: white; 
      background-color: #4fdcff;
     }
/*----------------user_nav css---------------------*/