
/*----------------user_nav css---------------------*/
.user_nav{
  position:absolute;
  top:400px;
  background-color: #fff;
  width: 70%;
  float: left
}
.user_nav ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 
.menu{  
    height: 30px; 
    width: 100%;
    background-color: #2866d8;
    } 
  .menu li{ 
    width: 24%;
    float: left;
    color: white;
    background-color: #2866d8;
    display: block;
    line-height: 30px;
    text-align: center;
     border-right:1px solid #bbb;
    } 
   .menu li:last-child {
    border-right: none;
}
  .menu .menulink{  
    text-decoration:none;
    color: white;
    display: block;
    font-size: 15px;
    font-weight: bold;
    } 

  .menu .menulink:hover:not(.menu_active) {
    background-color: #0248ca;
    color: white; 
}

.menu_active {
    background-color: #41acf4;
}
/*----------------user_nav css---------------------*/
/*----------------user_nav friends css---------------------*/

/*----------------user_nav friends css---------------------*/
