/*----------------user_profile css---------------------*/
  #header{
    width: 100%;
    background-color: #FFF;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    height: 300px;
  }
	#user_profile_img{
		left: 200px;
		width: 180px;
		height: 180px;
		background-color: white;
		z-index: 5;
	}
	.user_profile{
		margin-left: 5px;
	}
/*----------------user_profile css---------------------*/
/*----------------input img css---------------------*/
.change_img{  
  width: 180px;
  height: 25px;
  border-radius: 5px;
  font-weight: bolder;
  border-color: transparent;
  background: #2866d8;
  color: #fff;
 cursor: pointer;

}
/*----------------input img css---------------------*/
/*----------------button css---------------------*/
.upload {  
  opacity: 0;      
  position: relative;
}
.replace {   
  position: absolute;
  width: 180px;
  height: 25px;
  border-radius: 5px;
  font-weight: bolder;
  border-color: transparent;
  background: #2866d8;
  color: #fff;
  cursor: pointer;
}
.replace:hover{
  background-color:#41acf4;
}
/*----------------button css---------------------*/
/* ---------------submit css-------------------- */
#user_profile_update_set{
  display: inline-block;
  position: absolute;
  left: 80%;

}
/* ---------------submit css-------------------- */
/* ---------------follow css-------------------- */
.follow{
  position: absolute;
  left: 320px;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  font-weight: bolder;
  border-color: transparent;
  background: #4195f4;
  color: #fff;
  cursor: pointer;
}
.follow:hover{
  background-color:#41acf4;
}
.follower{
  position: absolute;
  left: 200px;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  font-weight: bolder;
  border-color: transparent;
  background: #4195f4;
  color: #fff;
  cursor: pointer;
}
.follower:hover{
   background-color:#41acf4;
}
/* ---------------follow css-------------------- */

